.menu {
    position: absolute;     /*Saca el nav del flujo normal*/
    top: 20px;                 /*Lo baja 20px desde arriba*/
    right: 20px;                  /*Lo aleja 20px del borde derecho*/
}
.menu ul{
    list-style: none;   /*Quita los puntos de la lista*/
    display: flex;      /*Pone los items en línea*/
    margin: 0;          /*Elimina los margenes*/
    padding: 0;         /*Elimina relleno*/
    gap: 20px;          /*Espacio entre los elementos*/
}
.menu li a{
    text-decoration: none;      /*Quita el subrayado de los enlaces*/
    color: #333;                /*Color del texto*/
    font-weight: bold;              /*Texto en negrita*/  
}
.principal{
    display: flex;
    max-width: 1200px;   /* Limita el ancho del contenido */
    margin: 30px auto;     /* Centra horizontal y añade margen arriba/abajo */
    /* margin-left: 20px; */
    padding: 20px;         /* Espacio interno */
    gap: 30px;
    align-items: flex-start;
}
.principal p {
    margin-bottom: 35px; /* Esto agrega espacio debajo de cada párrafo */
}
.principal section{
    flex: 4;
    padding-right: 0px; /* Separación visual */
    
}
.barra-lateral {
    flex: 1; /* Le da 1 parte de espacio (ej. 25% del ancho) */
    background-color: #f4f4f4; /* Un color de fondo suave para destacarla */
    padding: 15px;
    border-radius: 5px;
}
